@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  min-width: 940px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0 auto;
}
h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  margin: 0;
}
h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}
h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
ul {
  margin: 0;
}
li {
  display: flex;
  list-style: none;
  padding: 0;
}
a {
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Cuprum", "Arial", sans-serif;
  width: 100%;
  background-color: #f1f5f7;
}
p {
  margin: 0;
}
.header_top {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: #293449;
}
.h_logo a {
  display: flex;
  justify-content: center;
  width: 220px;
  padding: 11px 0 7px 0;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.h_logo a:hover {
  background-color: #ca2c37;
}
.header_top form {
  position: relative;
}
.search {
  width: 270px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0 12px 49px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  outline: none;
}
.search:hover {
  background-color: #212a3a;
}
.search:focus {
  color: #000000;
  background-color: #ffffff;
}
.search_btn {
  font-size: 0;
}
.header_top .icon-search {
  position: absolute;
  top: 9px;
  left: 16px;
  width: 20px;
  height: 20px;
  font-size: 17px;
  color: #6a7180;
  z-index: 30;
  cursor: pointer;
}
.search:hover + a .icon-search {
  color: #ffffff;
}
.search:focus + a .icon-search {
  color: #ee3643;
}
.shop_menu {
  display: flex;
}
.shop_menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}
.markers,
.basket {
  position: relative;
  padding-left: 18px;
}
.markers:hover,
.basket:hover {
  background-color: #212a3a;
}
.markers:active,
.basket:active {
  color: #8b8e94;
  background-color: #161d29;
}
.markers .icon-bookmark {
  position: absolute;
  top: 12px;
  left: 11px;
  width: 20px;
  height: 20px;
  font-size: 17px;
  color: #6a7180;
  z-index: 30;
}
.markers:hover .icon-bookmark {
  color: #ffffff;
}
.markers:active .icon-bookmark {
  color: #8b8e94;
}
.basket .icon-basket {
  position: absolute;
  top: 12px;
  left: 11px;
  width: 20px;
  height: 20px;
  font-size: 17px;
  color: #6a7180;
  z-index: 30;
}
.basket:hover .icon-basket {
  color: #ffffff;
}
.basket:active .icon-basket {
  color: #8b8e94;
}
.shop_menu .checkout {
  background-color: #63a63e;
}
.shop_menu .checkout:hover {
  background-color: #5fbb2d;
}
.shop_menu .checkout:active {
  color: #aac39b;
  background-color: #518534;
}
.header_middle {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 46px 0 0 0;
}
.h_m_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 313px;
}
.h_m_block:nth-child(2) {
  padding-left: 7px;
}
.h_m_block:last-child {
  width: 314px;
}
.login_index {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.tel_number {
  display: flex;
  position: relative;
  width: 270px;
  color: #e9292a;
  border: 3px solid #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  padding: 10px 0 11px 70px;
}
.tel_number .icon-phone {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 20px;
  height: 20px;
  font-size: 22px;
  color: #b7bfc8;
  z-index: 30;
}
.h_m_block:first-child p {
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  width: 210px;
  margin: 3px auto 0 auto;
}
.h_m_block:nth-child(2) p {
  color: #32425c;
  font-size: 14px;
  line-height: 23px;
  padding: 5px 0 0 10px;
}
.entry_link {
  display: flex;
  justify-content: center;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 18px;
  padding: 12px 0 13px 0;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.entry_link:hover {
  color: #ee3643;
}
.entry_link:active {
  color: #c5c5c5;
}
.entry_link:first-child {
  position: relative;
  width: 121px;
  padding-left: 23px;
  margin-right: 10px;
}
.entry_link:last-child {
  width: 150px;
}
.icon-login {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 20px;
  height: 20px;
  font-size: 22px;
  color: #c5c5c5;
  z-index: 30;
}
.entry_link:hover .icon-login {
  color: #32425c;
}
.entry_link:active .icon-login {
  color: #c5c5c5;
}
nav {
  display: flex;
  width: 940px;
  margin: 39px auto 65px auto;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}
.navigation {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}
.navigation a {
  display: flex;
  justify-content: center;
  width: 134px;
  padding: 20px 0 18px 0;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}
.navigation a:hover {
  background-color: #293449;
}
.navigation a:active {
  color: #868c95;
  background-color: #1d2739;
}
.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 940px;
  margin: 59px auto 53px auto;
}
.offer {
  display:flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 123px;
  padding: 21px 0 0 25px;
  margin-bottom: 20px;
}
.offer:nth-child(6) {
  position: absolute;
  right: 0;
  top: 286px;
  z-index: 40px;
}
.offer a {
  display: flex;
  justify-content: center;
  width: 135px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: 12px;
  padding: 10px 0;
  color: #ffffff;
}
.offer a:hover {
  background-color: #cccccc;
}
.offer a:active {
  background-color: #b2b2b2;
}
.offer h2 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: none;
}
.materials,
.delivery {
  background-color: #f6b22d;
}
.tools {
  background-color: #4aafde;
}
.machinery {
  background-color: #cc79d1;
}
.discounts {
  background-color: #85d179;
}
.materials a {
  background-color: #dda028;
}
.tools a {
  background-color: #429dc7;
}
.machinery a {
  background-color: #b76dbc;
}
.discounts a {
  background-color: #77bc6d;
}
.delivery a {
  background-color: #dda028;
}
.materials::after {
  content: "";
  display: flex;
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/sprites.png");
  background-position: -10px -10px;
}
.materials::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-image: url("../img/sprites.png");
  background-position: -10px -917px;
}
.tools::after {
  content: "";
  display: flex;
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/sprites.png");
  background-position: -10px -533px;
}
.machinery::after {
  content: "";
  display: flex;
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/sprites.png");
  background-position: -10px -1380px;
}
.discounts::after {
  content: "";
  display: flex;
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/sprites.png");
  background-position: -10px -996px;
}
.delivery::after {
  content: "";
  display: flex;
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/sprites.png");
  background-position: -10px -95px;
}
.offers_slider {
  display: flex;
  position: relative;
  width: 620px;
  height: 266px;
}
.offers_slider input[type="radio"] {
  display: none;
}
.ofs_arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 620px;
  padding-left: 4px;
  top: 113px;
}
.ofs_arrows a {
  font-size: 0;
  z-index: 30;
}
.ofs_arrows span {
  font-size: 45px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}
.ofs_slider_controls {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 220px;
  right: 220px;
  bottom: 31px;
  width: 180px;
}
.ofs_slider_controls label {
  display: flex;
  width: 6px;
  height: 6px;
  margin: 5px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
  z-index: 30;
}
.ofs_slide {
  display: none;
  position: absolute;
  width: 620px;
  height: 266px;
  background-color: #80655a;
}
.ofs_slide:nth-child(1) {
  display: flex;
  background-image: url("../img/slide1.jpg");
}
.ofs_slide:nth-child(2) {
  background-image: url("../img/slide2.jpg");
}
.ofs_slide_text {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0 25px;
}
.ofs_slide_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  color: #ffffff;
}
.ofs_slide span {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 5px;
}
.ofs_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 122px;
  padding: 10px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}
.ofs_btn:hover {
  background-color: #ca2c37;
}
.ofs_btn:active {
  background-color: #ba2732;
}
#perforators_show:checked ~ .ofs_slides .ofs_slide:nth-child(1),
#drills_show:checked ~ .ofs_slides .ofs_slide:nth-child(2) {
  display: flex;
}
#perforators_show:checked ~ .ofs_slider_controls label[for="perforators_show"],
 #drills_show:checked ~ .ofs_slider_controls label[for="drills_show"] {
  background-color: #ee3643;
}
.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto 21px auto;
}
.field_title {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 24px 0 30px;
  background-color: #f7f3ec;
}
.field_title h2 {
  line-height: 30px;
  padding: 30px 0 29px 0;
  color: #32425c;
}
.field_title a {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 253px;
  background-color: #ee3643;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  color: #ffffff;
  text-transform: uppercase;
}
.field_title a:hover {
  background-color: #ca2c37;
}
.field_title a:active {
  background-color: #ba2732;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 220px;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-bottom: 20px;
}
.product:hover {
  box-shadow: 0 8px 25px 3px #c5c5c5;
}
.new_product::before {
  content: "";
  display: flex;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;
  background-image: url("../img/sprites.png");
  background-position: -10px -917px;
}
.product img {
  margin-bottom: 29px;
}
.product a {
  display: none;
  justify-content: center;
  width: 135px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.product:hover img {
  display: none;
}
.product:hover a {
  display: flex;
}
.buy {
  position: relative;
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #367315;
  margin: 43px 0 0 0;
  padding: 8px 0 3px 0;
}
.buy:hover {
  background-color: #5fbb2d;
}
.buy:active {
  background-color: #367315;
}
.buy .icon-basket {
  position: absolute;
  top: 9px;
  left: 9px;
  font-size: 17px;
  color: #92c178;
}
.buy:hover .icon-basket {
  color: #ffffff;
}
.add {
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 4px;
  margin: 11px 0 52px 0;
  padding: 5px 0 3px 0;
}
.add:hover {
  border-color: #32425c;
}
.add:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}
.product h1 {
  width: 165px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.product span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.old_price {
  padding: 10px 0 11px 0;
  text-decoration: line-through;
  color: #999999;
}
.new_price {
  position: relative;
  width: 134px;
  padding: 10px 0 10px 37px;
  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
}
.new_article_price {
  position: relative;
  width: 134px;
  margin-top: 39px;
  padding: 10px 0 10px 37px;
  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
}
.new_price::after, .new_article_price::after  {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0px;
  height: 0px;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}
.manufacturers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto 85px auto;
}
.manufacturers .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  border: 1px solid #e7e7e7;
}
.manufacturers .brand:hover {
  box-shadow: 0 8px 25px 3px #c5c5c5;
}
.manufacturers .brand:active {
  opacity: 0.4;
  box-shadow: 0 4px 8px 1px #c5c5c5;
}
.advantages {
  display: flex;
  width: 100%;
  background-color: #f2f6f8;
}
.advantages_container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 68px auto 0 auto;
}
.advantages h3 {
  margin-top: 4px;
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  padding-bottom: 30px;
}
.advantages p {
  margin-top: 29px;
}
.services {
  width: 940px;
  padding-bottom: 69px;
}
.services h2 {
  line-height: 24px;
  color: #000000;
}
.services p {
  width: 400px;
}
.advantages_slider {
  display: flex;
}
.advantages_list {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0;
  margin-right: 80px;
  margin-bottom: 101px;
}
.advantages_list::after {
  content: "";
  display: flex;
  position: absolute;
  top: -43px;
  right: 0px;
  width: 10px;
  height: 272px;
  background-image: url("../img/sprites.png");
  background-position: -10px -1088px;
}
.advantages_list li {
  list-style: none;
}
.advantages_list a {
  display: flex;
  width: 240px;
  padding: 13px 0 16px 23px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}
.advantages_list a:hover {
  background-color: #293449;
}
input[name="adv_radio"] {
  display: none;
}
#advantages_delivery:checked ~ .advantages_list label[for="advantages_delivery"] a,
#advantages_guarantee:checked ~ .advantages_list label[for="advantages_guarantee"] a,
#advantages_credit:checked ~ .advantages_list label[for="advantages_credit"] a {
  padding: 12px 0 19px 23px;
  color: #32425c;
  background-color: #ffffff;
  border: none;
}
.adv_slide {
  display: none;
  flex-direction: column;
  position: relative;
}
.adv_slide:nth-child(1)::after {
  content: "";
  display: flex;
  position: absolute;
  top: 23px;
  right: -339px;
  width: 468px;
  height: 261px;
  background-image: url("../img/sprites.png");
  background-position: -10px -1462px;
}
.adv_slide:nth-child(2)::after {
  content: "";
  display: flex;
  position: absolute;
  top: 1px;
  right: -279px;
  width: 389px;
  height: 283px;
  background-image: url("../img/sprites.png");
  background-position: -10px -614px;
}
.adv_slide:nth-child(3)::after {
  content: "";
  display: flex;
  position: absolute;
  top: -1px;
  right: -370px;
  width: 465px;
  height: 285px;
  background-image: url("../img/sprites.png");
  background-position: -10px -228px;
}
.adv_slide p {
  margin: 0;
  max-width: 280px;
}
.adv_slide:nth-child(2) p {
  max-width: 350px;
}
.adv_slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  margin-top: 27px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
}
.adv_slide a:hover {
  background-color: #ca2c37;
}
.adv_slide a:active {
  background-color: #ba2732;
}
#advantages_delivery:checked ~ .adv_slider .adv_slide:nth-child(1) {
  display: flex;
}
#advantages_guarantee:checked ~ .adv_slider .adv_slide:nth-child(2) {
  display: flex;
}
#advantages_credit:checked ~ .adv_slider .adv_slide:nth-child(3) {
  display: flex;
}
.info {
  display: flex;
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 82px 0 86px 0;
}
.description {
  display: flex;
  flex-direction: column;
  width: 640px;
}
.description h2 {
  padding-bottom: 15px;
}
.description li {
  position: relative;
}
.description li::after {
  content: "";
  display: flex;
  position: absolute;
  left: -35px;
  top: 10px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.description p {
  width: 530px;
  padding: 15px 0 8px 0;
}
.description ul {
  padding: 12px 0 17px 35px;
}
.description li {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}
.description a {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 220px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
}
.description a:hover {
  background-color: #ca2c37;
}
.description a:active {
  background-color: #ba2732;
}
.contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.contacts p {
  width: 190px;
  padding: 30px 0 30px 0;
}
.contacts .link_mail {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 300px;
  background-color: #ee3643;
  margin-top: 32px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  color: #ffffff;
}
.contacts .link_mail:hover {
  background-color: #ca2c37;
}
.contacts .link_mail:active {
  background-color: #ba2732;
}
.full_map {
  display: none;
  position: absolute;
  top: 33px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 446px;
  background-image: url("../img/map_full.jpg");
  box-shadow: 0 0 20px 3px #c4c3c4;
}
.full_map_show {
  display: flex;
  animation: map_show 0.6s;
}
@keyframes map_show {
  0% {transform: scale(0.0) translateX(1000px)};
  100% {transform: scale(1.0)};
}
 .btn_close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 50;
}
.btn_close::after,
.btn_close::before {
  content: "";
  display: flex;
  position: absolute;
  top: 10px;
  left: 0px;
  width: 25px;
  height: 5px;
  background-color: #ee3643;
}
.btn_close::after {
  transform: rotate(45deg);
}
.btn_close::before {
  transform: rotate(-45deg);
}
.feedback {
  display: none;
  position: absolute;
  top: 212px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  box-shadow: 0 -7px 0 0 #ee3643,
              0 15px 34px 0 #121821;
}
.feedback_show {
  display: flex;
  animation: feedback_show 0.7s;
}
@keyframes feedback_show {
  0% {transform: scale(0.0) rotate(360deg)};
  100% {transform: scale(1.2)};
}
.feedback label {
  font-size: 18px;
}
.entry_field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  width: 620px;
  padding: 43px 80px 37px 80px;
}
.short_area {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.short_area input {
  width: 220px;
  border-radius: 4px;
  border: 2px solid #d7dcde;
  margin: 7px 0 1px 0;
  padding: 5px 2px 5px 15px;
  outline: none;
}
.short_area input:focus {
  border-color: #bdc6ca;
}
.message {
  display: flex;
  flex-direction: column;
}
.message textarea {
  width: 460px;
  border-radius: 4px;
  border: 2px solid #d7dcde;
  margin: 7px 0 0 0;
  padding: 5px 2px 9px 15px;
  outline: none;
  resize: none;
}
.message textarea:focus {
  border-color: #bdc6ca;
}
.submit_area {
  padding: 37px 80px;
  background-color: #f1f1f1;
}
.submit_area .submit_btn {
  width: 460px;
  background-color: #ee3643;
  color: #ffffff;
  padding: 10px 0;
  border-radius: 4px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
  text-transform: uppercase;
}
.submit_btn:hover {
  background-color: #ca2c37;
}
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.f_cyan {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #32425c;
  margin: 0 auto;
}
.f_top {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto 33px auto;
}
.f_logo a {
  display: flex;
  justify-content: center;
  width: 220px;
  padding: 18px 0 15px 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.f_logo a:hover {
  background-color: #ca2c37;
}
.f_top_menu {
  display: flex;
  justify-content: flex-end;
  width: 720px;
}
.f_top_menu li {
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin-left: 59px;
}
.f_top_menu a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}
.f_top_menu a:hover {
  text-decoration: underline;
}
.f_top_menu a:active {
  color: #929caa;
}
.f_middle {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 49px;
  flex-wrap: wrap;
}
.f_middle p {
  font-family: "Cuprum", "Arial", sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  padding-left: 3px;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}
.f_middle_menu {
  display: flex;
  justify-content: flex-end;
  width: 610px;
}
.f_middle_menu li {
  display: flex;
  align-items: flex-start;
  margin-left: 60px;
}
.f_middle_menu a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}
.f_middle_menu a:hover {
  text-decoration: underline;
}
.f_middle_menu a:active {
  color: #92856d;
}
.f_darkcyan {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 37px 0 34px 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}
.f_darkcyan p {
  width: 240px;
  color: #f1f1f3;
}
.f_darkcyan span {
  color: #f1f1f3;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  width: 313px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 313px;
  padding-top: 5px;
  padding-left: 75px;
}
.social a {
  font-size: 0;
  margin-right: 5px;
}
.social span {
  font-size: 18px;
  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;
  padding: 8px;
}
.social span:hover {
  background-color: #ee3643;
}
.communication {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 314px;
}
.communication a {
  color: #ffd180;
}
.communication a:hover {
  text-decoration: underline;
}
.communication a:active {
  color: #ee3643;
  text-decoration: none;
}
.mail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 190px;
  padding-left: 15px;
}
.site {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 124px;
  padding-left: 13px;
}
/* catalog */
.basket_catalog {
  background-color: #ee3643;
}
.basket_catalog:hover {
  background-color: #ca2c37;
}
.basket_catalog .icon-basket {
  color: #f3737c;
}
.login_catalog {
  justify-content: flex-start;
  align-items: flex-end;
}
.user_name {
  position: relative;
  width: 299px;
  padding: 13px 46px 7px 47px;
  background-color: #ffffff;
}
 .user_name .user {
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}
.login_catalog .login_descript_link {
  font-size: 0;
}
 .login_catalog .icon-user {
  position: absolute;
  top: 13px;
  left: 11px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: #c5c5c5;
  z-index: 30;
  cursor: pointer;
}
.login_catalog .icon-user:hover {
  color: #32425c;
}
.login_catalog .icon-user:active {
  color: #c5c5c5;
}
.login_catalog .icon-logout {
 position: absolute;
 top: 11px;
 left: 264px;
 width: 20px;
 height: 20px;
 font-size: 22px;
 color: #c5c5c5;
 z-index: 30;
 cursor: pointer;
}
.login_catalog .icon-logout:hover {
  color: #32425c;
}
.login_catalog .icon-logout:active {
  color: #c5c5c5;
}
.login_catalog .user_menu {
  display: flex;
  align-self: flex-start;
  margin: 1px 0 0 15px;
  padding: 0;
}
.login_catalog li {
  margin: 7px 16px 0 17px;
}
.login_catalog li:nth-child(2) {
  display: list-item;
  list-style-type: disc;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}
.login_catalog a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.login_catalog a:hover {
  color: #ee3643;
}
.login_catalog a:active {
  color: #b7bfc8;
}
.paginator {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto 20px auto;
}
.paginator_top {
  display: flex;
  width: 940px;
  padding: 19px 0 13px 0;
}
.paginator .index_link {
  font-size: 0;
}
.paginator .icon-home {
  font-size: 16px;
  line-height: 20px;
  margin-left: -3px;
  color: #c1c6ce;
}
.paginator ul {
  display: flex;
  margin: 2px 0 0 0;
  padding: 0;
}
.paginator_list li {
  position: relative;
  margin-left: 40px;
}
.paginator_list li::after {
  content: "\3e";
  position: absolute;
  top: -4px;
  left: -25px;
  font-family: "symbols-technomart";
  font-size: 14px;
  color: #c1c6ce;
}
.paginator_list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.paginator_caption {
  display: flex;
  width: 940px;
  padding: 30px 0 29px 28px;
  background-color: #f2f6f8;
}
.paginator_caption h1 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}
main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.add_product {
  display: none;
  flex-direction: column;
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  box-shadow: 0 -7px 0 0 #ee3643,
              0 15px 40px 0 #787f8c;
  z-index: 30;
}
.add_product_show {
  display: flex;
}
.a_p_caption {
  display: flex;
  width: 620px;
  background-color: #ffffff;
  z-index: 30;
}
.a_p_caption span {
  margin: 71px 0 74px 179px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 18px;
}
.a_p_caption span::after {
  content: "";
  display: flex;
  position: absolute;
  top: 67px;
  left: 95px;
  width: 39px;
  height: 30px;
  background-image: url("../img/sprites.png");
  background-position: -10px -178px;
}
.a_p_caption span::before {
  content: "";
  display: flex;
  position: absolute;
  top: 48px;
  left: 81px;
  width: 0px;
  height: 0px;
  border: 32px solid #63a63e;
  border-radius: 50%;
}
.a_p_control {
  display: flex;
  justify-content: space-between;
  width: 620px;
  padding: 37px 80px;
  background-color: #f1f1f1;
}
.a_p_control a {
  width: 220px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}
.a_p_control a:first-child {
  color: #ffffff;
  background-color: #ee3643;
}
.a_p_control a:first-child:hover {
  background-color: #ca2c37;
}
.a_p_control a:nth-child(2) {
  color: #000000;
  background-color: #ffffff;
}
.a_p_control a:nth-child(2):hover {
  color: #ee3643;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding-right: 20px;
}
.filter h3 {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}
.filter_title {
  display: flex;
  width: 220px;
  padding: 10px 0 10px 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}
.filter_title h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.filter_price {
  display: flex;
  flex-direction: column;
}
.filter_price h3 {
  padding: 12px 0 13px 0;
}
.filter input[type="checkbox"] {
  display: none;
}
.filter input[type="radio"] {
  display: none;
}
.filter input[type="checkbox"] + label {
  display: flex;
  position: relative;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 35px;
  cursor: pointer;
}
.filter input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
}
.filter input[type="checkbox"] + label:hover::before {
  color: #b5b5b5;
}
.filter input[type="checkbox"]:disabled + label::before {
  color: #e9e9e9;
}
.filter input[type="checkbox"]:checked + label::before {
  content: "\2611";
}
.filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter input[type="radio"] + label {
  display: flex;
  position: relative;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 35px;
  cursor: pointer;
}
.filter input[type="radio"] + label::before {
  content: "\25cb";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
}
.filter input[type="radio"] + label:hover::before {
  color: #b5b5b5;
}
.filter input[type="radio"]:checked + label::before {
  content: "\25cf";
}
.range_controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;
  margin-bottom: 9px;
  width: 220px;
  background-color: #f7f3ec;
  border-radius: 0 0 5px 5px;
}
.scale {
  display: flex;
  position: relative;
  height: 2px;
  width: 180px;
  background-color: #d7dcde;
}
.bar {
  height: 2px;
  width: 80%;
  background-color: #00ca74;
}
.toogle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #d4d1cb;
  cursor: pointer;
  box-sizing: content-box;
}
.toogle:hover {
  background-color: #ee3643;
}
.toogle_min {
  left: 0;
}
.toogle_max {
  left: 140px;
}
.price_controls {
  display: flex;
  width: 220px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}
.price_controls input {
  display: flex;
  width: 95px;
  padding: 10px 0;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
  background-color: #f7f3ec;
  border-radius: 3px;
  text-align: center;
}
.hyphen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}
.line {
  display: flex;
  width: 10px;
  height: 1px;
  background-color: #000000;
}
.manufacturer {
  display: flex;
  flex-direction: column;
  width: 220px;
  border-bottom: 1px solid #e5e5e5;
  padding: 17px 0 12px 0;
}
.manufacturer h3 {
  padding-bottom: 3px;
}
.power_type {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 18px 0 68px 0;
}
.power_type h3 {
  padding-bottom: 3px;
}
.filter_btn {
  width: 140px;
  padding: 6px 0;
  background-color: inherit;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.filter_btn:hover {
  border-color: #bdc6ca;
}
.filter_btn:active {
  border-color: #ee3744;
}
.results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
}
.sort_header {
  display: flex;
  align-items: center;
  width: 700px;
  background-color: #f7f3ec;
  border-radius: 4px;
  padding: 6px 0 7px 19px;
  text-transform: uppercase;
}
.sort_mode {
  display: flex;
  width: 630px;
}
.sort_header h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-right: 80px;
}
.criteria {
  display: flex;
  margin: 0;
  padding: 0;
}
.criteria li {
  list-style: none;
  padding-left: 65px;
}
.criteria a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ee3643;
}
.criteria .sort_inactive {
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643;
}
.sort_inactive:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.sort_direction {
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.sort_direction ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.sort_direction a {
  font-size: 0;
}
.sort_direction span {
  font-size: 23px;
  vertical-align: middle;
  color: #ee3643;
}
.sort_direction .inactive_arrow {
  color: #c6c2bd;
}
.sort_direction .inactive_arrow:hover {
  color: #000000;
}
.pages {
  display: flex;
  max-width: 700px;
  padding: 52px 0 60px 0;
}
.pages a {
  font-family: "PT Sans", "Arial", sans-serif;
}
.page {
  display: flex;
  margin: 0;
  padding: 0;
}
.page li {
  margin-right: 10px;
}
.page .list_active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  padding: 6px 0;
  border: 1px solid #ee3643;
  background-color: #ee3643;
  color: #fff;
  border-radius: 3px;
}
.page .list_inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  padding: 6px 0;
  border: 1px solid #e5e5e5;
  color: #000;
  border-radius: 3px;
}
.page .list_inactive:hover {
  border: 1px solid #bdc6ca;
}
.page .list_inactive:active {
  border: 1px solid #ee3643;
}
.list_next {
  padding: 6px 33px 6px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-transform: uppercase;
  color: #000;
}
.list_next:hover {
  border: 1px solid #bdc6ca;
}
.list_next:active {
  border: 1px solid #ee3643;
}
.description_drills {
  display: flex;
  width: 100%;
  background-color: #f2f6f8;
}
.perforators_des {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  padding: 68px 0 68px 0;
}
.perforators_des h2 {
  padding-bottom: 29px;
}
